<h2 class="mt-5"><%= t('.pincode_title')  %></h2>

<%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do |f| %>
  <div class="mb-3">
    <%= label 'PIN', t('.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mb-3">
    <%= submit_tag t('.send'), class: 'btn btn-primary'%>
  </div>
<% end %>
