<%= form_for [@event, photo], html: { multipart: true }, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="mb-3">
    <%= f.label I18n.t('views.photos.photo_image'), class: "form-label" %>
    <%= f.file_field :photo_image, class: "form-control"%>
  </div>

  <div>
    <%= f.submit(t('.upload'), class: 'btn btn-primary') %>
  </div>
<% end %>
