<p style="color: green"><%= notice %></p>

<h1><%= t('.photos') %></h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
    <p>
      <%= link_to t('.show_this_photo'), photo %>
    </p>
  <% end %>
</div>

<%= link_to t('.new_photo'), new_photo_path %>
