<p style="color: green"><%= notice %></p>

<%= render @photo %>

<div>
  <%= link_to t('.edit_this_photo'), edit_photo_path(@photo) %> |
  <%= link_to t('.back_to_photos'), photos_path %>

  <%= button_to t('.destroy_this_photo'), @photo, data: { turbo_method: :delete } %>
</div>
